{% assign s = section.settings %}
<div class="padding-y-base padding-top-none container-inner">
    <div class="page-container common-wrap clear">
        <div class="lg:txt-ctr lg-container flex flex-col content-wrap fadeIn">
            {{ s.heading }}
            {% if s.text != blank %}
                <div class="sml-container">
                    {{ s.text |  replace: '<p', '<p class="h5"' }}
                </div>                
            {% endif %}
        </div>
        <div class="margin-top-xxl featured-product-wrap ">
            {{ html }}
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "HTML Content",
        "tag": "section",
        "class": "section padding-section padding-bottom-xl featured-products animationTrigger desktopOnly",
        "settings": [
            {
            "type": "richtext",
            "id": "heading",
            "label": "Section Heading"
            },{
            "type": "richtext",
            "id": "text",
            "label": "Section text"
            },{
                "type":"html",
                "id": "html",
                "label": "HTML Content"
            }
        ],
        "presets": [
        {
            "name": "Favorite Products"
        }
      ]
    }
{% endschema %}