
    <div class="has-black-background flex flex-y-align scroll-fixed-marquee large-text">
        {% for block in section.blocks %}
            <div class="scroll-item">
                <h6>{{ block.settings.text }}</h6>
            </div>            
        {% endfor %}        
    </div>


{% schema %}
    {
        "name": "Text Scroll",
        "tag": "section",
        "class": "section fixed-scroll-section",
        "settings": [
        ],"blocks": [
            {
                "type": "item",
                "name": "Text Block",
                "settings": [
                    {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
        {
            "name": "Text Scroll"
        }
      ]
    }
{% endschema %}