:root {
    --main-color: #000;
    --btn-bg: #fff;
    --header-font: "Balboa", sans-serif;
}

h3 {
    font-family: var(--header-font);
}

.customer__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
}

.customer__form-wrap {
    display: flex;
    flex-flow: wrap;
    padding: 199px 0 200px;
}

.customer__login {
    flex: 1;
    padding-right: 130px;
    border-right: 1px solid var(--main-color);
}

.customer__registration-column {
    flex: 1;
    padding-left: 130px;
}

.customer__column-title {
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
}

.customer__input {
    width: 100%;
    background-color: inherit;
    border: none;
    font-size: 16px;
    color: var(--main-color);
    height: 55px;
    border-bottom: 1px solid var(--main-color);
    margin-top: 20px;
}

.customer__input::placeholder {
    font-size: 16px;
    color: var(--main-color);
}

.customer__input:focus {
    border-bottom: 2px solid var(--main-color);
}

.customer__button {
    min-width: 180px !important;
    margin-top: 36px;
    background: none;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: #FFD750;
    padding: 14px 40px;
    color: #000;
    border: 1px solid #000;
    transition: 0.5s;
}

.customer__button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.btn.medium.customer__button {
    padding: 15px 15px 13px;
}
.customer__cancel{
    margin-left: 15px;
}

.customer__button_login {
    padding-bottom: 11px;
    padding-top: 14px;
}

.customer__registration-column-text {
    margin-top: 30px;
}

#rc_login {
    display: none !important;
}

.customer {
    position: relative;
}

.customer__column-image {
    width: 217px;
    position: absolute;
    top: 245px;
    z-index: -1;
    transform: translateX(-50px);
}

.customer__forget-btn,
.back-to-login-btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 30px;
    text-decoration: underline;
}

.customer__login-reset {
    display: none;
}

.errors {
    margin-top: 25px;
    font-weight: 600;
}

.errors li {
    font-size: 14px;
}

.show-reset .customer__login-inner {
    display: none;
}

.show-reset .customer__login-reset {
    display: block;
}

.customer__registration {
    max-width: 420px;
    margin: 0 auto;
}

.customer__registration .customer__column-title {
    text-align: center;
    margin-bottom: 15px;
}

.customer__registration .customer__button {
    width: 100%;
}

.policy-check {
    color: var(--main-color);
    font-size: 14px;
    position: relative;
    display: block;
    margin-top: 35px;
    padding-left: 60px;
}

.policy-check a {
    color: var(--main-color);
    text-decoration: underline;
}

.policy-check::before {
    content: '';
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
}

.policy-check-input {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.policy-check-input:checked+label::before {
    background-image: url(https://cdn.shopify.com/s/files/1/0639/0887/2426/files/Tick-2.svg?v=1650615875);
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.customer__goto-login {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.customer__question {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}

.customer__form-wrap_registration {
    padding-bottom: 110px;
}

.customer__header {
    padding-top: 199px;
    text-align: center;
    padding-bottom: 75px;
}

.customer__title {
    font-size: 45px;
    /* font-weight: 700; */
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 17px;
}

.customer__message {
    max-width: 580px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
}

.customer__content {
    width: 100%;
    overflow: hidden;
}

.customer__content-left {
    width: 300px;
    float: left;
}

.customer__content-right {
    width: calc(100% - 300px);
    max-width: 615px;
    float: left;
    padding-left: 70px;
    padding-bottom: 70px;
    border-left: 1px solid var(--main-color);
    margin-bottom: 150px;
}

.customer__account-form .field {
    position: relative;
}

.customer__account-form .field label {
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 11px;
}

.customer__account-form .field select {
    width: 100%;
    background-color: inherit;
    border: none;
    font-size: 16px;
    color: var(--main-color);
    // font-weight: 600;
    height: 55px;
    border-bottom: 1px solid var(--main-color);
    margin-top: 20px;
}

.customer__field-header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.customer__field-header_mt_60 {
    margin-top: 60px;
}

.btn-outline {
    border: 1px solid var(--main-color);
    color: var(--main-color) !important;
    background-color: #fff !important;
}

.btn-outline:hover {
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.customer__nav-url {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 22px;
    opacity: .3;
    color: var(--main-color);
}

.customer__nav-url.active {
    opacity: 1;
}

.customer__nav .customer__button {
    margin-top: 5px;
}

.customer__tab-content {
    display: none;
}

.customer__tab-content.active {
    display: block;
}

.order-history-item-wrap {
    display: flex;
    flex-flow: wrap;
}

.order-history-item {
    flex: 1;
}

.order-history-item h6 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}

.order-history-item li {
    font-size: 14px;
    padding: 5px 0;
}

.order-history-item a {
    color: var(--main-color);
}

.customer__no-order {
    font-size: 20px;
    font-weight: 700;
}

.customer__nav .customer__button {
    max-width: 142px;
}

#RecoverEmail-email-error {
    display: block;
    margin-top: 10px;
    color: #ff0000;
}

.errors {
    color: #ff0000;
}

.shopify-challenge__container {
    padding: 100px 0;
}

.customer__content-right {
    .selectric {
        background-color: #f2eee5;
        color: var(--main-color);

        .button {
            background-color: #e6dcc9;
        }
    }
}

.mobi {
    display: none;
}




@media(max-width:1024px) {

    .customer__bg img {
        min-height: 400px;
        object-fit: cover;
    }

    .customer__column-title {
        font-size: 35px;
    }

    .customer__form-wrap {
        padding: 110px 0 0;
        flex-flow: column;
        max-width: 500px;
        margin: 0 auto;
    }

    .customer__login {
        padding: 0;
        border: none;
    }

    .customer__registration-column {
        padding-left: 0;
        padding-top: 85px;
        padding-bottom: 90px;
    }

    .customer__column-image {
        width: 150px;
        bottom: 110px;
        top: inherit;
    }

    .customer__header {
        padding-top: 120px;
        padding-bottom: 70px;
    }

    .customer__content-right {
        padding: 0;
        width: 100%;
        border: none;
    }

    .customer__button {
        min-width: 155px !important;
    }

    .customer__content-right {
        margin-bottom: 125px;
    }
   
    .customer__message+.customer__button {
        max-width: 150px;
        margin: 30px auto 0;
    }

    .customer__nav {
        width: 100%;
        overflow: auto;
        margin-bottom: 35px;
        white-space: nowrap;
    }

    .customer__nav-item {
        display: inline-block;
        padding: 0 20px;
    }

    .account-text-wrap {
        overflow: auto;
    }

    .order-history-item-wrap {
        width: 175%;
    }

    .mobi {
        display: block;
    }

    .desk {
        display: none;
    }

}