.minmaxify-dlg {
    border-radius: 10px;
}
.minmaxify-dlg .minmaxify-p {
    background-color: #fff;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
}
.minmaxify-dlg .minmaxify-p ul li {
    text-transform: none;
    font-weight: normal;
}
.minmaxify-dlg .minmaxify-ok {
    background-color: var(--yellow);
    color: var(--black);
    font-family: var(--font-family);
    text-align: center;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    font-weight: var(--font-bold);
    font-family: var(--font-family);
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    gap: 0.363636em;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    word-break: break-word;
    text-decoration: none;
}