.breadcrumbs__url {
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 200;
    line-height: 140%;
    color: var(--black);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0 10px;
    opacity: 0.6;
}

.breadcrumbs__url::after {
    content: url(right-icon.svg);
    line-height: 0;
    transform: translateY(-2px);
}

.breadcrumbs__list:last-child .breadcrumbs__url::after {
    content: none;
}

.breadcrumbs__lists {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.breadcrumbs__url.active {
    opacity: 1;
}



@media(min-width: 1024px) {



    .breadcrumbs__url {
        font-size: 12px;
    }

    .breadcrumbs__lists {
        margin-bottom: 13px;
        margin-top: 0;
    }

    .breadcrumbs__url.active {
        opacity: 0.8;
    }




}