/* ----------------MOBILE START-------------- */


/* ----------------other-hero start--------------- */


.other-hero__content h2 {
    font-family: var(--font-family-alt);
    text-align: center;
    font-size: 230px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.other-hero__content h2::after {
    content: url(red-bottom.svg);
    line-height: 0;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.other-hero__content p {
    text-align: center;
    font-size: 26px;
    line-height: 140%;
}

.other-hero__inner {
    background-color: var(--yellow);
    padding: 200px 0 202px;
}

.puff-third-img,
.puff-four-img,
.puff-five-img,
.puff-six-img,
.puff-seven-img {
    display: none;
}

.other-hero__wrapper {
    position: relative;
}

.puff-fst-img {
    width: 120px;
    position: absolute;
    top: -54px;
    left: 12px;
    z-index: 2;
}

.puff-second-img {
    width: 120px;
    position: absolute;
    bottom: -150px;
    right: 19px;
}

/* ----------------other-hero end--------------- */




/* ----------------MOBILE END-------------- */












/* --------------DESKTOP START------------- */


@media (min-width:1024px) {



    /* ----------------other-hero start--------------- */

    .other-hero__content h2 {
        font-size: 330px;
        margin-bottom: 10px;
    }

    .other-hero__content p {
        max-width: 555px;
        margin: 0 auto;
    }

    .other-hero__inner {
        padding: 210px 0 130px;
    }


    .puff-third-img,
    .puff-four-img,
    .puff-five-img,
    .puff-six-img,
    .puff-seven-img {
        display: block;
    }

    .puff-fst-img {
        width: 185px;
        top: -25px;
        left: 75px;
    }

    .puff-second-img {
        top: -30px;
        bottom: auto;
        right: auto;
        left: 385px;
    }

    .puff-third-img {
        width: 120px;
        position: absolute;
        bottom: 18px;
        left: 206px;
    }

    .puff-four-img {
        width: 120px;
        position: absolute;
        top: 0;
        right: 176px;
    }

    .puff-five-img {
        width: 120px;
        position: absolute;
        top: 130px;
        right: 360px;
        z-index: 2;
    }

    .puff-six-img {
        width: 191px;
        position: absolute;
        top: 225px;
        right: 0;
    }

    .puff-seven-img {
        width: 120px;
        position: absolute;
        bottom: -65px;
        right: 270px;
    }

    .other-hero__content h2::after {
        content: url(red-bottom-desk.svg);
        bottom: 34px;
    }



    /* ----------------other-hero end--------------- */



}

/* --------------DESKTOP END------------- */